<launch>

    <node pkg="cartesian_interface" 
          type="torque_feedforward_node" 
          name="centauro_torque"
          output="screen">
          
        <param name="is_model_floating_base" value="true"/>
        <param name="model_type" value="RBDL"/>
        
        <param name="contact_links" type="yaml" value="[wheel_1, wheel_2, wheel_3, wheel_4]"/>
        
        <param name="blacklist" type="yaml" value="[neck, velodyne, j_wheel_1, j_wheel_2, j_wheel_3, j_wheel_4]"/>
        
        <remap from="~torque_offset" to="cartesian/torque_offset"/>
        
    </node>


</launch>
