<launch>

    <arg name="rate" default="100.0"/>
    <arg name="prefix" default=""/>
    
    <param name="robot_description" 
        textfile="$(env ROBOTOLOGY_ROOT)/configs/ADVR_shared/centauro/urdf/centauro.urdf"/>
    
    <param name="robot_description_semantic"
        textfile="$(env ROBOTOLOGY_ROOT)/configs/ADVR_shared/centauro/srdf/centauro.srdf"/>
    
    <param name="cartesian/problem_description" 
        textfile="$(find cartesian_interface)/examples/configs/centauro_simple_stack.yaml"/>
    
    <param name="cartesian/joint_blacklist" type="yaml" 
        value="[neck_velodyne]"/>
        
    <param name="cartesian/velocity_whitelist" type="yaml" 
        value="[j_wheel_1, j_wheel_2, j_wheel_3, j_wheel_4]"/>
    

    <include file="$(find cartesian_interface)/launch/cartesio.launch">
        <arg name="rate" value="$(arg rate)"/>
        <arg name="prefix" value="$(arg prefix)"/>
    </include>


</launch>
