<launch>

    <arg name="prefix" default=""/>
    <arg name="gui" default="true"/>
    
    <param name="robot_description" 
        textfile="$(find cartesian_interface)/examples/urdf/coman.urdf"/>
    
    <param name="robot_description_semantic"
        textfile="$(find cartesian_interface)/examples/srdf/coman.srdf"/>
    
    <param name="cartesian/problem_description" 
        textfile="$(find cartesian_interface)/examples/configs/coman_stack.yaml"/>
    
    <include file="$(find cartesian_interface)/launch/cartesio.launch">
        <arg name="rate" value="100.0"/>
        <arg name="prefix" value="$(arg prefix)"/>
    </include>

    <node if="$(arg gui)"
            type="rviz"
            name="rviz"
            pkg="rviz"
            args="-d $(find cartesian_interface)/examples/rviz/disp.rviz"/>
            output="screen"/>



    
</launch>
