<launch>

    <arg name="solver" default="OpenSot"/>
    <arg name="prefix" default=""/>
    <arg name="use_xbot_config" default="false"/>
    <arg name="rate" default="100.0"/>
    <arg name="tf_prefix" default="ci"/>
    <arg name="markers" default="true"/>
    <arg name="namespace" default="/"/> 
    <arg name="is_model_floating_base" default="true"/>
    <arg name="xbot" default="false"/>
    <arg name="world_frame_link" default="''"/>
   
    <group ns="$(arg namespace)">
    
        <remap if="$(arg xbot)" from="robot_description" to="xbotcore/robot_description"/>
    
        <node pkg="cartesian_interface" type="ros_server_node" 
                                        name="ros_server_node" 
                                        output="screen" 
                                        launch-prefix="$(arg prefix)"
                                        rosmon-stop-timeout="1000">
                                        
            <param name="is_model_floating_base" value="$(arg is_model_floating_base)"/>
            <param name="model_type" value="RBDL"/>
            <param name="solver" value="$(arg solver)"/>
            <param name="use_xbot_config" value="$(arg use_xbot_config)"/>
            <param name="rate" value="$(arg rate)"/>
            <param name="tf_prefix" value="$(arg tf_prefix)"/>
	    <param if="$(eval arg('world_frame_link') != '')" name="world_frame_link" value="$(arg world_frame_link)"/>
	    
        </node>

        <node if="$(arg markers)" pkg="cartesian_interface" type="marker_spawner" name="interactive_markers" output="screen">
            <param name="tf_prefix" value="$(arg tf_prefix)"/>
        </node>

    </group>
    

</launch>
