<launch>

     <arg name="task_postural" default="cartesian/posture"/>

     <node name="postural_gui" pkg="cartesian_interface" type="postural_gui" output="screen">
     	<param name="publish_default_efforts" value="True"/>
        <param name="use_gui" value="True"/>
        <remap from="joint_states" to="$(arg task_postural)/reference"/>
        <remap from="joint_feedback" to="$(arg task_postural)/state"/>
     </node>

</launch>
